.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.layout{
  border: 3px solid aqua;
  background-color:slategray;
}
.gridItem{
  border:1px solid red;
  background-color: black;
  color:chartreuse;
  resize:both;
  overflow:auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.carousel-wrapper{
  border:3px solid orange;
  height:fit-content;
  width:fit-content;
}
.carousel-item-image{
  border:1px solid red;
}
.carousel-item-label{
  color:chartreuse
}